<div class="pop-up-container" cdkDrag cdkDragRootElement=".cdk-overlay-pane">
  <div class="pop-up-header-container" cdkDragHandle>
    <div class="pop-up-header-left-bar"></div>
    <div class="pop-up-header-content">{{customerData==null?'New':'View / Update'}} Customer</div>
  </div>
  <form class="pop-up-content-container" [formGroup]="customerForm">
    <table class="pop-up-content-table">
      <tr>
        <td>
          <mat-form-field class="pop-up-field-full-width">
            <mat-label>Customer<span style="color: red;">*</span></mat-label>
            <input matInput #name maxlength="50" formControlName="name" cdkFocusInitial>
            <mat-hint align="end">{{name.value.length}} / 50</mat-hint>
            <mat-error *ngIf="customerForm.get('name').hasError('required')">
              Customer Name is Required!
            </mat-error>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="pop-up-field-full-width">
            <mat-label>Mobile Number<span style="color: red;">*</span></mat-label>
            <span matPrefix>+91 &nbsp;</span>
            <input OnlyNumber matInput #mobile maxlength="10" formControlName="mobile">
            <mat-hint align="end">{{mobile.value.length}} / 10</mat-hint>
            <mat-error *ngIf="customerForm.get('mobile').hasError('required')">
              Mobile is Required!
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="pop-up-field-full-width">
            <mat-label>Alternate Mobile Number</mat-label>
            <span matPrefix>+91 &nbsp;</span>
            <input OnlyNumber matInput #mobilalte maxlength="10" formControlName="alternateNumber">
            <mat-hint align="end">{{mobilalte.value.length}} / 10</mat-hint>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <mat-form-field class="pop-up-field-full-width">
            <mat-label>Address</mat-label>
            <textarea matInput rows="5" #description maxlength="500" placeholder="address"
              formControlName="address"></textarea>
            <mat-hint align="end">{{description.value.length}} / 500</mat-hint>
            <mat-error *ngIf="customerForm.get('address').hasError('required')">
              Address is Required!
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
    </table>
  </form>

  <div class="pop-up-footer-container">
    <button mat-flat-button color="primary" class="float-right" mat-button
      (click)="addOrUpdate()">{{customerData==null?'Add':'Update'}}</button>
    <button mat-flat-button class="float-right pop-up-btn-cancel" mat-button (click)="close()">Cancel</button>
  </div>
</div>