.container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.applications-container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.top-panel {
    width: 100%;
    height: 39px;
    float: left;
    padding: 10px 0px;
    border-bottom: 1px solid #dedede;
}

.search-container {
    width: calc(100% - 205px);
    height: 100%;
    float: left;
    margin-left: 20px;
}
.add-container {
    float: right;
    width: 120px;
    height: 100%;
    padding: 0px 10px;
    margin-right: 10px;
    line-height: 40px;
    cursor: pointer;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.add-container:focus {
    outline: none;
}

.add-container:hover {
    background-color: whitesmoke;
}

.add-icon {
    float: left;
    margin-right: 5px;
    color: #26b9ff;
    font-size: 15px;
}

.add-application-label {
    float: left;
}

.add-application-label:focus {
    outline: none;
}

.content-panel {
    float: left;
    width: 100%;
    height: calc(100% - 60px);
}

.active-icon {
    color: #107c10;
}

.non-active-icon {
    color: #d1000a;
}

.td-active-result {
    font-size: 18px;
    margin-right: 5px;
}

.card-icon {
    color: rgb(6, 111, 129);
}

.btn-more {
    color: #727272;
}

.btn-more:hover {
    color: #4d4d4d;
}

.print-icon {
    width: 20px;
    height: 100%;
    float: right;
    line-height: 50px;
    margin-left: 15px;
    cursor: pointer;
    color: #0083b58f;
}

.print-icon:hover {
    color: #0083b5;
}
