.center {
    margin: auto;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  .spinner-color {
    stroke: #38c0aa !important;
  }
  
  .spinner-bg {
    stroke: #38c0aa !important;
    stroke-opacity: .3;
  }
  
  .mat-progress-spinner circle, .mat-spinner circle {
    stroke: #38c0aa !important;
}
