<div class="applications-container">
    <spinner *ngIf="skills==null"></spinner>
    <form>
      <div class="top-panel">
        <div class="search-container">
          <mat-form-field class="pop-up-field-full-width">
            <span matPrefix><i class="fas fa-search"></i> &nbsp;</span>
            <input cdkFocusInitial placeholder="Search" [(ngModel)]="searchText" matInput
              [ngModelOptions]="{standalone: true}" autocomplete="off">
            <span *ngIf="skills!=null" matSuffix>Total Items : {{filterMetadata.count}}</span>
          </mat-form-field>
        </div>
        <div class="add-container" (click)="addOrUpdateSkill()">
          <div class="add-icon"><i class="fas fa-plus"></i></div>
          <div class="add-application-label">New Skill</div>
        </div>
      </div>
      <div class="content-panel">
        <div class="table-container">
          <div class="table-scroll">
            <table class="main-table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Skill Name</th>
                  <th scope="col">Code</th>
                  <th scope="col">Updated On</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let item of skills | TableFilter:{name:searchText,code:searchText}:filterMetadata; index as i "
                  (mouseover)="highlightRow(item.id)" class="tr">
                  <td>{{i+1}}</td>
                  <td>
                    <span class="table-col-title-hlink" (click)="addOrUpdateSkill(item)"
                      [ngClass]="{'title-col-highlight' : item.id == selectedRow}">{{item.name}}</span>
                    <button style="float: right;" class="btn-more" mat-icon-button [matMenuTriggerFor]="menu"
                      aria-label="Example icon-button with a menu">
                      <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                      <button mat-menu-item (click)="addOrUpdateSkill(item)">
                        <i class="far fa-edit active-icon td-active-result"></i>
                        <span>Edit</span>
                      </button>
                    </mat-menu>
                  </td>
                  <td>{{item.code}}</td>
                  <td>{{item.lastUpdatedDate | date : 'dd-MM-yyyy HH:mm:ss'}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </form>
  </div>
  