.bal-amt {
    height: 40px;
    width: 100%;
    background-color: whitesmoke;
    text-align: center;
    color: #cc7a00;
    line-height: 40px;
    font-size: 19px;
    font-weight: bold;
  }
  
  .add-new-hyper-link {
    color: #4e8cbd;
    text-decoration: none;
    cursor: pointer;
  }
  
  .add-new-hyper-link:hover {
    text-decoration: underline;
  }
  