<div class="pop-up-container" cdkDrag cdkDragRootElement=".cdk-overlay-pane">
    <div class="pop-up-header-container" cdkDragHandle>
        <div class="pop-up-header-left-bar"></div>
        <div class="pop-up-header-content">Update Password</div>
    </div>
    <form autocomplete="off" enctype="multipart/form-data" class="pop-up-content-container" [formGroup]="updatePasswordForm">
        <table class="pop-up-content-table pop-up-padding">
            <tr>
                <td>
                    <mat-form-field class="pop-up-field-full-width">
                        <mat-label>Old Password<span style="color: red;">*</span></mat-label>
                        <input matInput [type]="hideOld ? 'password' : 'text'" formControlName="oldPassword"
                            (blur)="validateExistingPassword();">
                        <mat-icon class="eye-icon" *ngIf="updatePasswordForm.get('oldPassword').value.length > 0" matSuffix
                            (click)="hideOld = !hideOld">{{hideOld ? 'visibility_off' : 'visibility'}}</mat-icon>
                        <mat-error *ngIf="updatePasswordForm.get('oldPassword').hasError('required')">
                            Old Password is required
                        </mat-error>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field class="pop-up-field-full-width">
                        <mat-label>New Password<span style="color: red;">*</span></mat-label>
                        <input matInput [type]="hideNew ? 'password' : 'text'" formControlName="newPassword"
                            autocomplete="off">                       
                        <mat-icon class="eye-icon" *ngIf="updatePasswordForm.get('newPassword').value.length > 0" matSuffix
                            (click)="hideNew = !hideNew">{{hideNew ? 'visibility_off' : 'visibility'}}</mat-icon>
                        <mat-error *ngIf="updatePasswordForm.hasError('required', 'newPassword')">
                            Please enter your newpassword
                        </mat-error>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field class="pop-up-field-full-width">
                        <mat-label>Confirm Password<span style="color: red;">*</span></mat-label>
                        <input matInput [type]="hideConfirm ? 'password' : 'text'" formControlName="confirmPassword"
                            autocomplete="off" [errorStateMatcher]="matcher">
                        <mat-icon class="eye-icon" *ngIf="updatePasswordForm.get('confirmPassword').value.length > 0" matSuffix
                            (click)="hideConfirm = !hideConfirm">{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
                        <mat-error *ngIf="updatePasswordForm.hasError('notSame')">
                            Passwords do not match
                        </mat-error>
                    </mat-form-field>
                </td>
            </tr>
        </table>
    </form>

    <div class="pop-up-footer-container">
        <button mat-flat-button color="primary" class="float-right" mat-button
            (click)="updatePassword()">Update</button>
        <button mat-flat-button class="float-right pop-up-btn-cancel" mat-button (click)="close()">Cancel</button>
    </div>
</div>