.emp-code-chip {
    display: inline-block;
    height: 15px;
    line-height: 15px;
    font-weight: 500;
    margin-right: 10px;
    font-size: 12px;
    border-radius: 20px;
    color: #0582b2;
    padding: 0px 4px;
  }
  
  .emp-code-chip:hover {
    background: #d9d9d98f;
  }